
#main-dialog
{
    background-image: url(../img/Shopping.png) !important;
    background-position: 100% 100% !important;
}

.LoginClass input.ng-invalid.ng-dirty
{
    border: solid !important;
    border-color: red !important;
}

#loginMain
{
    background-color: whitesmoke !important;
}

#signUpMain
{
    background-color: whitesmoke !important;
}

#SignUp
{
    background-image: url(../img/Shopping.png) !important;
    background-position: 100% 100% !important;
    width: 80% !important;
    margin-left: 10%;
    margin-top: 10%;
    display: block !important;
}

#main-screen
{
    background-image: url(../img/Shopping.png) !important;
    background-position: 100% 100% !important;
}

#main-screenBody
{
    background-color: whitesmoke !important;
}

.ui-special-scroll {
    max-height: 500px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

}

@media ( min-width: 10em ) {
    /* Show the table header rows and set all cells to display: table-cell */
    .my-custom-breakpoint td,
    .my-custom-breakpoint th,
    .my-custom-breakpoint tbody th,
    .my-custom-breakpoint tbody td,
    .my-custom-breakpoint thead td,
    .my-custom-breakpoint thead th {
        display: table-cell;
        margin: 0;
    }
    /* Hide the labels in each cell */
    .my-custom-breakpoint td .ui-table-cell-label,
    .my-custom-breakpoint th .ui-table-cell-label {
        display: none;

    }
}

#PopupButtons {
    text-align: center;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}

.LoginClass input.ng-invalid.ng-touched
{
    border-color: red;
}

#LoginPage
{
    width: 80% !important;
    margin-left: 10%;
    margin-top: 10%;
    display: block !important;
}

#DiagramPageBody
{
    background-color: whitesmoke;
}

#ChartPage
{
    background-image: url(../img/Shopping.png) !important;
    background-position: 100% 100% !important;
    width: 90% !important;
    margin-left: 5% !important;
    margin-top: 5% !important;
    display: block !important;
}


#AddingItemPage
{
    width: 80% !important;
    margin-left: 10%;
    margin-top: 10%;
    display: block !important;
}

#addItem
{
    background-image: url(../img/Shopping.png) !important;
    background-position: 100% 100% !important;
}

#AddItemBody
{
    background-color: whitesmoke;
}

#AboutPopup
{
    width: 320px;
}


#DiagramPageBody
{
    background-color: whitesmoke !important;
}

